In [122]:
import pandas as pd

tit=pd.read_csv('train.csv')
print('I passeggeri del titanic sono: ', len(tit[:]))

v=[0, 0, 0]
for k in tit['Embarked']:                 # C = Cherbourg, Q = Queenstown, S = Southampton
    if k == 'S':
        v[0]+=1
    elif k == 'C':
        v[1]+=1
    elif k == 'Q':
        v[2]+=1
    else:
        k='S'
        v[0]+=1
        
print('il vettore è:', v)
sum=0
for i in range(3):
    sum+=v[i]
print('la somma è:', sum)

SyntaxError: unexpected EOF while parsing (<ipython-input-122-6272b817eaa5>, line 9)

In [66]:
tit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [67]:
tit[:7]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [78]:
tit['Embarked'][:7]

0    2
1    1
2    2
3    2
4    2
5    0
6    2
Name: Embarked, dtype: int64

In [130]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

def NomeCognome():
    return "Samuele Traviganti 436681"

def ConvSex(s):
    if s=='male':
        return 1
    elif s=='female':
        return 0
    else:
        return 1       # metto come 'male' quei dati che non riesco a leggere (non voglio usare try-ecxcept)
    
def ConvEmb(e):
    if e=='S':
        return 2
    elif e=='C':
        return 1
    elif e=='Q':
        return 0
    else:
        return 2      # metto come 'S' quelli che non leggo


def Train(Xs):
    def ConvertInput(data):
        data['Sex']=data['Sex'].apply(ConvSex)
        data['Embarked']=data['Embarked'].apply(ConvEmb)
        
    def FilterInput(data):
        data=data[data['Sex']>=0]
        data=data[data['Embarked']>=0]
        return data
        
        
    def Predict(x_test):
        x_test=ConvertInput(x_test)
        x_test=x_test[['Sex', 'Embarked']]
        y_pred=lr.predict(x_test)
        return y_pred

    Xs=ConvertInput(Xs)
    Xs=FilterInput(Xs)
    x_train, x_test, y_train, y_test = train_test_split(Xs, ['Sex','Embarked'], 'Survived')
    
    lr=LinearRegression(nomalize=True)
    lr.fit(x_train, y_train)
    return Predict

In [132]:
print(NomeCognome()) 
 
df = pd.read_csv('train.csv')

x_train, x_test, y_train, y_test = train_test_split(df, ['Sex','Embarked'], 'Survived')         
P = Train(df)
y_pred = P(x_test)

print(len(y_test))
print(len(y_pred))
            
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

def PrintEvaluation(y_test, y_pred):
    try:
        print('MAE:', mean_absolute_error(y_test, y_pred))
        print('MSE:', mean_squared_error(y_test, y_pred))
        print('R2:', r2_score(y_test, y_pred))    
        print('ACCURACY:', accuracy_score(y_test, y_pred))
        print('REPORT:',classification_report(y_test, y_pred))
        print('CM:', confusion_matrix(y_test, y_pred))
    except:
        print('Errore nel calcolo delle statistiche: Debug il tuo codice')

Samuele Traviganti 436681

ValueError: Found input variables with inconsistent numbers of samples: [891, 2, 8]