In [3]:
print(4.0,type(4.0))

4.0 <class 'float'>

In [11]:
def pot(b,e):
    return b**e

In [18]:
A=[1,3,2,5,4,6]
A.sort()
print(A)

[1, 2, 3, 4, 5, 6]

In [26]:
for i,n in enumerate(A):
    print("indice:", i, "x=", str(n)," \t -> f(x^3) =",str(pot(n,3)))

indice: 0 x= 1  	 -> f(x^3) = 1
indice: 1 x= 2  	 -> f(x^3) = 8
indice: 2 x= 3  	 -> f(x^3) = 27
indice: 3 x= 4  	 -> f(x^3) = 64
indice: 4 x= 5  	 -> f(x^3) = 125
indice: 5 x= 6  	 -> f(x^3) = 216

In [35]:
B=[1,22,31,54,25,6]
B[2:]

[31, 54, 25, 6]

In [47]:
from random import randint
As=[randint(1,100) for _ in range(6)]
print(As)

[97, 14, 50, 10, 58, 8]

In [68]:
from random import seed
for _ in range(10):
    seed(45)
    print(randint(1,10))

5
5
5
5
5
5
5
5
5
5

In [69]:
len(As)

6

In [71]:
def Funzig(Ls,G):
    somma=0
    for x in Ls:
        somma += G(x)
    return somma

In [77]:
Funzig([1,3,2,4,3,4,3], G=lambda x: x**2)

64

In [79]:

def Range(n):
    """
    Construisce e ritorna la lista (0, ..., n-1)
    """
    Ls = []
    i = 0
    while i < n:
        Ls.append(i)
        i += 1
    return Ls

print("Esempio di chiamata: Range(4) =", Range(4))

Esempio di chiamata: Range(4) = [0, 1, 2, 3]

In [105]:
Ls = [x for x in range(-10,10,2)]
print(Ls)

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [109]:
[1,32,2]+[3,2,15,4,3,2,2]

[1, 32, 2, 3, 2, 15, 4, 3, 2, 2]

In [115]:
A=[1,32,2]
A.append(5)
print(A)

[1, 32, 2, 5]

In [119]:
"fagiolo"*347

'fagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolofagiolo'

In [123]:
x=(2,4)
print(type(x))
print(x,x[0],x[1])

<class 'tuple'>
(2, 4) 2 4

In [126]:
x=2,4,3,2,2#le tuple sia senza che non ...
print(x)

(2, 4, 3, 2, 2)

In [132]:
ls=[1,"aa",2,4]
print(ls[1])

aa

In [134]:
ls[1:3]*3#potenza anche per liste

['aa', 2, 'aa', 2, 'aa', 2]

In [142]:
a=(2)
b=(1,)#tupla di un solo elemento: ce vo la virgola
print(type(a), type(b))

<class 'int'> <class 'tuple'>

In [159]:
Techs = ['MIT', 'Caltech']
Ivys = ['Harvard','Yale','Penn']
U1 = [Techs, Ivys]
U2 = [['MIT', 'Caltech'], ['Harvard','Yale','Penn']]
print(U1, "\n", U2)
print(U1 == U2)
print(id(U1) == id(U2))

[['MIT', 'Caltech'], ['Harvard', 'Yale', 'Penn']]
 [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Penn']]
True
False

In [160]:
commento = "ENRICO, stai sereno!"
for c in commento[3:10]:
    print(c)

I
C
O
,

s
t

In [164]:
commento = "Enrico, stai sereno!"
for c in commento:
    print(c.upper(), end=' ')

E N R I C O ,   S T A I   S E R E N O !

In [169]:
s="Cocco bello fresco Cocco COCCO"
s1="Cocco"
print(s.count(s1))

2

In [173]:
s="Cocco bello fresco Cocco COCCO"
s1="Cocco"
print(s.count(s1))

19

In [193]:
s="Cocco bello fresco Cocca COCCO"
Gs=s.split( )
Gs[3]

'Cocca'